<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vue</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="app">
		<p>{{computedValue}}</p>
		<ul>
			<li  v-for="item in items">{{item.name | capitalize | addSir}} </li>
		</ul>
		<input type="text" v-model="name_input" @keyup.enter="addItem">
		<button @click="addItem"> + ADD </button>
		<new-com :items="items"/>

	</div>

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		Vue.component('new-com',{				//notice ``
			props : ['items'],					//receive data
			template : 
				`<ul>				 
						<li v-for="item in items">{{item.name}}</li>
				 </ul>`
			
		})
		app = new Vue({
			el:'#app',
			component : [
				'new-com'		//notice naming
			],
			data:{
				items: [
					{name: "Bo Bo"},
					{name: "Ko Ko"},
					{name: "Po Po"},
					{name: "Oo Oo"},
				],
				name_input : '',
			},
			methods : {
				addItem : function(){
					this.items.push({name : this.name_input})
					this.name_input = ''
				}
			},
			computed : {
				computedValue : function(){
					if (this.name_input.length > 0) {
						return 'Sir ' + this.name_input
					}
				}
			}
		})
	</script>
</body>
</html>