<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vue</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="app">
		<ul>
			<li  v-for="item in items">{{item.name | capitalize | addSir}} </li>
		</ul>
		<input type="text" v-model="name_input" @keyup.enter="addItem">
		<button @click="addItem"> + ADD </button>

	</div>

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				items: [
					{name: "Bo Bo"},
					{name: "Ko Ko"},
					{name: "Po Po"},
					{name: "Oo Oo"},
				],
				name_input : '',
			},
			methods : {
				addItem : function(){
					this.items.push({name : this.name_input})
					this.name_input = ''
				}
			},
			filters : {
				capitalize : function(value){
					return value.toUpperCase()
				},
				addSir : function(value){
					return 'Sir ' + value
				}
			}
		})
	</script>
</body>
</html>